.topdiv{
  padding: 5rem;
  text-align: center;
  font-size: xx-large;
  font-family: sans-serif;
  color: black;
  font-weight: 700;
}
.topdiv span{
   color: #F04E98;
}
.ice-creams{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5rem;
  align-items: center;
}
.card{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  gap: 1rem;
}
.card img{
  width: 100%;
}
.card button{
  color: white;
  padding: 5px 10px;
  font-size: large;
  font-weight: 600;
  background-color:#F04E98;
  border-radius: 10px;
  border: 1px solid #F04E98;
}

.card p{
   color: #F04E98;
   font-size: larger;
   font-weight: 700;
}