

.Navbar{
   width: 100%;
   position: fixed;
   top: 0%;
   padding: 2rem 4rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: white;
}

.logo-div img{
   height: 2rem;
}

.div2 img{
   height: 2rem;
}

.div3 button{
   background-color: #D90A81;
   padding: 10px 15px;
   border: 2px solid #D90A81;
   border-radius: 15px;
   font-size: large;
   color: white;
}